<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ Newrockwireless.com Shop online for special offers on   
Unlocked smartphones ,
Internet Service,
Wireless phone deals,
Mobile phone plans,
Phones accessories , 
Latest mobile phones,
Compare phones , Tablets deals, headphone & Earbud specials , WiFi Service }}</title>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/lucide@latest"></script>
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
